@{
    ViewData["Title"] = "Home Page";
}

<div>@ViewBag.Greeting World (from the view)</div>
<p>
    We're going to have an exciting party.<br />
    (To do: sell it better. Add pictures or something.)
</p>
<span>@Html.ActionLink("RSVP Now", "RsvpForm")</span>
